name: CI

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/*.yml'
      - '**/*.py'
      - 'requirements.txt'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/*.yml'
      - '**/*.py'
      - 'requirements.txt'

permissions:
  actions: read
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  unit-test:
    name: Run unit test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends \
          fonts-freefont-ttf libc6 libfreetype6 libjpeg8 \
          libpng16-16 libportmidi0 libsdl2-2.0-0 \
          libsdl2-image-2.0-0 libsdl2-mixer-2.0-0 libsdl2-ttf-2.0-0
    - name: Install PIP dependencies
      run: pip install -r requirements.txt
    - name: Run PyTest
      run: pytest --junit-xml=pytest.xml $(find . -name '*.py')
      env:
        PYTHONPATH: ${{ github.workspace }}
    - name: Publish Test Results
      if: ${{ always() }}
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        junit_files: "**/*.xml"

  style-check:
    name: Run style check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends \
          fonts-freefont-ttf libc6 libfreetype6 libjpeg8 \
          libpng16-16 libportmidi0 libsdl2-2.0-0 \
          libsdl2-image-2.0-0 libsdl2-mixer-2.0-0 libsdl2-ttf-2.0-0
    - name: Install PyGame
      run: sudo pip install pygame
    - name: Install PIP dependencies
      run: pip install -r requirements.txt
    - name: Run style checker
      run: yapf -r --style google -d . 
